<h2 id="title">Welcome to Code Camp 2016.1</h2>

<nav>
    <li>{{#link-to "index"}}Index{{/link-to}}</li>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "games"}}Games{{/link-to}}</li>
</nav>

{{outlet}}
